doctype html
html(lang="es-MX")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
		title My awesome website
		link(rel="stylesheet", href="")
		//- link(href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;300&display=swap" rel="stylesheet")
	body.body
			main.main.flex-container
				section.main-section.flex-container.flex-cross_center
					.flex-container.flex-cross_center
						.flex-item.md-50
							.content
								.content-title
									h1.title Welcome to this static website template!!!
								.content-subtitle
									h2.subtitle Have fun creating your first fantastic website
						.flex-item.md-50
							.content-image
								img.content-image__illustration(src=require("../images/website-development.svg"), alt="Ilustración Desarrollo Web")
				footer.footer.flex-container.flex-main_center
					.flex-item
						p This template was created with 🔥 and using:
					.flex-item.xs-20.md-10
						a(href="https://yarnpkg.com/" rel="noopener noreferrer" target="_blank")
							.icon.icon__yarn(title="Sitio oficial de Yarn")
					.flex-item.xs-20.md-10
						a(href="https://webpack.js.org/" rel="noopener noreferrer" target="_blank")
							.icon.icon__webpack(title="Sitio oficial de Webpack")
					.flex-item.xs-20.md-10
						a(href="https://developer.mozilla.org/es/docs/Web/JavaScript/" rel="noopener noreferrer" target="_blank")
							img.icon.icon__js(src=require("../images/javascript-icon.svg"), alt="Icono JS en formato SVG", title="Sitio oficial de JavaScript MDN")
					.flex-item.xs-20.md-10
						a(href="https://sass-lang.com/" rel="noopener noreferrer" target="_blank")
							.icon.icon__sass(title="Sitio oficial de Sass")
					.flex-item.xs-20.md-10
						a(href="https://pugjs.org/api/getting-started.html" rel="noopener noreferrer" target="_blank")
							img.icon.icon__pug(src=require("../images/pugjs-icon.svg"), alt="Icono PUG en formato SVG", title="Sitio oficial de Pug")
					.flex-item.xs-20.md-10
						a(href="https://git-scm.com/" rel="noopener noreferrer" target="_blank")
							img.icon.icon__git(src=require("../images/git-icon.svg"), alt="Icono Git en formato SVG", title="Sitio oficial de Git")
