include mixins

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
		title My first awesome website
		//- Styles are automatically loaded and added from Webpack
	body.body
		main.main
			.flex-container.flex-cross_center
				.flex-item.md-50
					.intro
						h1.intro--title Welcome to this static website template!!!
						h2.intro--subtitle Have fun creating your first fantastic & responsive website
				.flex-item.md-50
					.hero
						img.hero--image(src=require("../images/website-development.svg"), alt="Ilustración Desarrollo Web")
		footer.footer
			.flex-container.flex-main_center
				.flex-item
					p.footer--content This template was created with 🔥 and using:
				//- Sample of use CSS background images
				+langIcon("https://yarnpkg.com/", "Yarn")(class="icon__yarn")
				+langIcon("https://webpack.js.org/", "Webpack")(class="icon__webpack")
				//- Sample of use HTML img tag
				+langImage("https://developer.mozilla.org/es/docs/Web/JavaScript/", src=require("../images/javascript-icon.svg"), "Icono JS en formato SVG", "JavaScript (MDN)")
				+langIcon("https://sass-lang.com/", "Sass")(class="icon__sass")
				+langImage("https://pugjs.org/api/getting-started.html", src=require("../images/pugjs-icon.svg"), "Icono Pug en formato SVG", "Pug")
				+langImage("https://git-scm.com/", src=require("../images/git-icon.svg"), "Icono Git en formato SVG", "Git")
		//- Scripts are loaded and inserted by Webpack
